@model IEnumerable<sangostore.models.loai>

    <ul>
        @foreach (var item in Model)
        {
            <li><a href="@Url.Action("SanPhamTheoLoai", "Shop", new { id = item.MaLoai })">@item.TenLoai</a></li>
        }
    </ul>
